/* Main CSS file - imports all other stylesheets */
@import './base.css';
@import './components.css';
@import './animations.css';
@import './utilities.css';

@tailwind base;
@tailwind components;
@tailwind utilities;